<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Damion\'s Portfolio' }) %>
    </head>
    <body>
        <%- include('./partials/background') %>
        <div class="main-layout">
            <%- include('./menus/topNav') %>
            <%- include('./partials/socials') %>
            <%- include('./partials/email') %>

            <div class="content">
                <section id="character-sheet">
                    <%- include('./sections/about') %>
                </section>
                <div class="section-gap"></div>
                <section id="quest-log">
                    <%- include('./sections/featured') %>
                </section>
                <div class="section-gap"></div>
                <section id="campaign">
                    <%- include('./sections/campaigns') %>
                </section>
                <div class="section-gap"></div>
                <section id="contact">
                    <%- include('./sections/footer') %>     
                </section>
            </div>
        </div>
        <script src="/scripts/ui.js"></script>
        <script src="/scripts/featured.js"></script>
    </body>
</html>