<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Damion\'s Portfolio' }) %>
    </head>
    <body>
        <%- include('./partials/background') %>
        <div class="main-layout">
            <%- include('./menus/topNav') %>
            <%- include('./partials/socials') %>
            <%- include('./partials/email') %>

            <div class="content">
                <%- include('./sections/about') %>
                <div class="section-gap"></div>
                <%- include('./sections/featured') %>
                <div class="section-gap"></div>
            </div>

            <%- include('./sections/footer') %>
        </div>
        <script src="/scripts/ui.js"></script>
        <script src="/scripts/featured.js"></script>
    </body>
</html>